$black-color: #1b1c21;

.about-price {
  margin-left: 16px;
  &__title {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    @media(min-width:600px){
        width: 430px;
        height: 60px;
    }
  }
  &__text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 16px;
  &__button {
    margin-left: 5px;
  }
}
}