$line-color: #d9fff5;
$grey-color: #7e7e82;
.footer {
  &__wrapper {
    margin-top: 40px;
    border-top: 2px solid $line-color;
    width: 100%;
    @media (min-width: 500px) {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  }
  &__text-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: $grey-color;
  }
  &__text-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $grey-color;
  }
  &__text-3 {
    color: $grey-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
  }
}
