$primary-color: #FFFFFF;

.header {
  background-color: $primary-color;

  &__menu {}

  &__icon {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-icon__container {
    display: flex;
  }
}

.icon {
  &__picture {}

  &__burger {
    width: 40px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 23px;
    margin-left: 16px;
  }

  &__divider_first {
    margin-top: 28px;
    margin-left: 20px;

    @media (max-width: 490px) {
      display: none;
    }
  }

  &__group {
    margin-top: 18.59px;
    margin-left: 16.73px;
    margin-bottom: 17.59px;
  }

  &__call {
    margin-top: 24px;

    @media (max-width: 490px) {
      display: none !important;
    }
  }

  &__chat {
    margin-top: 24px;
    margin-left: 16px;

    @media (max-width: 490px) {
      display: none !important;
    }
  }

  &__profile {
    margin-top: 24px;
    margin-left: 16px;

    @media (max-width: 490px) {
      display: none !important;
    }
  }

  &__divider {
    margin-top: 28px;
    margin-bottom: 27px;
    margin-left: 20px;
  }

  &__repair {
    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: 23px;
  }

  &__checkstatus {
    margin-right: 24px;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 23px;
  }
}

.shadow {
  width: 100%;
  background-color: $primary-color;
  height: 1px;
}

.text__buttons {
  @media (max-width: 1119px) {
    display: none;
  }
}

@media (min-width: 768px) {
  .icon__burger {
    margin: 24px 0 24px 24px;
  }

  .icon__group {
    margin-left: 20.73px;
  }
}

@media (min-width: 1440px) {
  .icon__burger,
  .icon__divider_first,
  .icon__group,
  .icon__call,
  .icon__chat,
  .icon__profile,
  .icon__divider {
    display: none;
  }

  .header__container {
    display: none;
  }
}
