$primary-color: #ffffff;
$second-color: #f8f8f8;
$third-color: #d9fff5;
$grey-color: #7e7e82;
$onde-color: #eaeaea;
$black-color: #1b1c21;
.price {
  &__header {
    margin-top: 24px;
    border-top: 1px solid $third-color;
    width: 320px;
    height: 56px;
    margin-top: 24px;
    background: linear-gradient(
      270deg,
      $second-color 0%,
      $primary-color 98.61%
    );
    @media (min-width: 768px) {
      width: 100%;
      height: 56px;
    }
  }
  &__text {
    margin: 0;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: $grey-color;
  }
}

.swiper__container-3 {
}

.swiper-3 {
}
.swiper-wrapper {
}
.swiper-slide {
}
.price-card {
  width: 258px;
  height: 198px;
  border-radius: 6px;
  border: 1px solid $onde-color;
  background-color: $primary-color;
  margin-top: 16px;
  margin-left: 16px;
  &__button {
    position: absolute;
    top: 152px;
    left: 125px;
  }
}
.repair-services {
  margin: 0;
  &__title {
    margin: 16px 0px 0px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: $grey-color;
  }
  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 4px 0px 0px 16px;
    display: flex;
}
}

.price {
  margin: 0;
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: $grey-color;
    margin: 16px 0px 0px 16px;
  }
  &__price-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 4px 0px 0px 16px;
  }
}

.time {
  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: $grey-color;
    margin: 16px 0px 0px 16px;
  }
  &__value {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin: 4px 0px 0px 16px;
  }
}

.swiper-pagination-3 {
}
