$primary-color: #ffffff;
$second-color: #f8f8f8;
$third-color: #d9fff5;
$grey-color: #7e7e82;
$onde-color: #eaeaea;
$black-color: #1b1c21;

.price-table {
  border-collapse: collapse;
  width: 95%;
  height: 320px;
  margin-left: 24px;
  margin-top: 31px;
  border-radius: 12px;
  overflow: hidden;
  border-spacing: 0;
  @media (max-width: 767px) {
    display: none;
  }
  &__header {
    color: $grey-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  &__body {
    background-color: $primary-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $black-color;
  }
  &__repair {
    padding: 16px;
  }
  &__price {
  }
  &__time {
  }
}

.button {
  display: flex;
  justify-content: center;
}

.price-table th,
.price-table td {
  padding: 12px;
}
.price-table tbody tr {
  position: relative;
}

.price-table tbody tr::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) ;  
  width: 95%;                 
  height: 1px;                
  background-color: $onde-color; 
}