$primary-color: #ffffff;
$second-color: #f8f8f8;
$third-color: #d9fff5;
$grey-color: #7e7e82;
$onde-color: #eaeaea;
$black-color: #1b1c21;
.services {
  &__header {
    margin-top: 24px;
    border-top: 1px solid $third-color;
    width: 320px;
    height: 80px;
    margin-top: 24px;
    background: linear-gradient(
      270deg,
      $second-color 0%,
      $primary-color 98.61%
    );
    @media (min-width: 768px) {
      width: 100%;
      height: 56px;
    } 
  }
  &__text {
    margin: 0;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    color: $grey-color;
 
  }
}

.bradns-card-2 {
  width: 240px;
  height: 160px;
  border-radius: 6px;
  border: 1px solid $onde-color;
  background-color: $primary-color;
  margin-top: 16px;
  margin-left: 16px;
  justify-content: space-between;
  display: flex;
}
.swiper-title {
    margin-left: 16px;
    margin-top: 16px;
  &__text {
    color: $black-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0;
  }
}

.swiper__button-2 {
    margin-top: 104px;
    margin-right: 16px;
}


