$primary-color: #ffffff;
$grey-color: #7e7e82;
$second-color: #f8f8f8;
$third-color: #d9fff5;
$onde-color: #eaeaea;
$pink-color: #ff3e79;
$black-color: #1b1c21;

.wrapper__sidebar {
  display: block;

  @media (max-width: 1439px) {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}
.wrapper__sidebar-wrapper {
  background: $primary-color;
  width: 320px;
  height: 100%;
  margin-right: auto;
  position: relative;
  box-shadow: 0 4px 8px $grey-color;
}
@media (max-width: 1439px) {
  .open {
    display: block;
    position: absolute;
    height: 100%;
    z-index: 1000;
  }
  .btn {
    display: none;
  }
}
@media (min-width: 1440px) {
  .wrapper__main {
    display: flex;
  }
  .image__close {
    display: none;
  }
}
.sidebar {
  &__menu {
    display: flex;
    height: 88px;
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    width: 320px;

    box-shadow: 2px 0 52px rgba(14, 24, 80, 0.2);
  }
  &__image {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.image__picture {
}
.image__burger {
  margin-left: 24px;
  margin-top: 23px;
}

.button {
}
.image__group {
  margin-left: 16px;
  margin-top: 18px;
}
.image__search {
  margin-left: 78px;
  margin-top: 23px;
}
/*-------------MAIN---------------*/

.article__sidebar {
}
.sidebar-list {
  margin: 0;
  padding: 0;
  &__button {
    list-style: none;
    &:hover {
      background-color: $pink-color;
      transition: 1s;
    }
  }
  &__highlight {
    width: 4px;
    height: 32px;
    display: flex;
  }
  &__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $black-color;
    margin-top: 32px;
    margin-left: 24px;
    &_grey {
      margin-left: 20px;
      color: $grey-color;
      margin-top: 4px;
    }
  }
}

.title {
  display: flex;
  margin-top: 28px;
}
/*----------SDECTION----------*/
.contacts-section {
}
.contacts {
  width: 196px;
  height: 124px;
  margin-left: 24px;
  margin-top: 268px;
  &__email {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    text-decoration: none;
    display: block;
    margin-top: 12px;
  }
  &__number {
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
    margin-top: 16px;
  }
}
.contacts-icon {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  &__chat {
    margin-left: 16px;
  }
  &__profile {
    margin-left: 16px;
  }
}

/*-----------------------footer--------------*/
.sidebar__footer {
}
.lang {
  display: flex;
  margin-left: 24px;
  margin-top: 40px;
  &__ru {
    color: $grey-color;
  }
  &__en {
    color: $black-color;
  }
  &__ch {
    color: $black-color;
  }
}

.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
