.show-more {
  display: flex;
  margin-top: 24px;
  margin-left: 24px;
  width: 133px;
  height: 24px;

  &__button { }

  &__picture {
    &-rotate {
      rotate: 180deg;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
  }
}

.software-table {
  display: grid;
  grid-template-columns: repeat(3, 224px);
  column-gap: 24px;
  row-gap: 16px;
  margin-top: 24px;
  margin-left: 24px;
  height: 160px;
  overflow: hidden;

  &__logo {
    display: flex;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }

  &__picture {
    width: 108px;
    height: 32px;
    margin-left: 16px;
  }

  &__button {
    margin-right: 16px;
  }

  @media (max-width: 767px) {
    &,
    ~ .show-more {
      display: none;
    }
  }

  @media (min-width: 800px) {
    justify-content: space-around;
  }

  @media (min-width: 1120px) {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    margin-left: 32px;
    column-gap: 32px;
    height: 160px;
  }

  @media (min-width: 1122px) {
    justify-content: space-around;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 320px);
    justify-content: space-around;
    margin-left: 0;
  }
}


@media (min-width: 768px) {
  .software-table-height {
    height: 336px;
  }
}

@media (min-width: 1120px) {
  .software-table-height-laptop {
    height: 250px !important;
  }
}

.button {
}