$primary-color: #f8f8f8;

.main {
  background-color: $primary-color;
}
.title {
  display: flex;
  margin: 0;
  &__name {
    width: 288px;
    height: 40px;
    top: 112px;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 12px;
    margin-bottom: 0;
    @media (min-width: 768px) {
      margin-left: 24px;
    }
  }
}
.highlight {
  margin-top: 24px;
  width: 4px;
  height: 40px;
  top: 112px;
}
